POSTGRES_DB=ai_platform
POSTGRES_USER=ai_admin
POSTGRES_PASSWORD=CHANGE_ME_STRONG_DB_PASSWORD

SECRET_KEY=CHANGE_ME_LONG_RANDOM_SECRET
INIT_PASSWORD=CHANGE_ME_INITIAL_ADMIN_PASSWORD

OPENAI_API_BASE=http://host.docker.internal:8001/v1
OPENAI_API_KEY=CHANGE_ME_LONG_RANDOM_API_KEY
